.header {
    background-color: black;
    border-bottom: 4px solid #4000ff;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.header > h1 {
    color: #4000ff;
    font-weight: 500;
    font-size: 2.1rem;
}

.header a {
    text-decoration: none;
    color: white;
    padding-inline: 10px; 
    /* ou 0,5rem */
}

.header nav {
    margin-right: 1rem;
}