.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #000;
    border-top: 4px solid #4000ff;
    color: #fff;
    padding-block: 0.60rem;
    text-align: center;
    /* display: flex;
    align-items: center;
    justify-content: center; */
   
 }

 .footer h2 {
    font-size: 0.95rem;
    font-weight: 500;
 }