.banner {
    width: 100%;
    height: 347px;
    background-color: black;
    background-image: url("images/banner-home.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding-top: 68px;
    
}